site_name: CH376 LIB DOCUMENTATION 2024.1

markdown_extensions:
    - pymdownx.highlight
    - pymdownx.inlinehilite
    - pymdownx.tabbed:
        alternate_style: true
    - pymdownx.snippets
    - pymdownx.critic
    - pymdownx.caret
    - pymdownx.keys
    - pymdownx.mark
    - pymdownx.tilde
    - attr_list
    - md_in_html
    - admonition
    - pymdownx.details
    - pymdownx.superfences:
        custom_fences:
          - name: mermaid
            class: mermaid
            format: !!python/name:pymdownx.superfences.fence_code_format
    - tables
    - pymdownx.emoji:
        emoji_index: !!python/name:materialx.emoji.twemoji
        emoji_generator: !!python/name:materialx.emoji.to_svg

plugins:
 - git-revision-date
 - search
 - markmap
 - mkdocs-video

#   - mkdocstrings:
#         watch:
#             - src/project

dev_addr: '172.30.72.43:8001'

docs_dir: code/
site_dir: api/
theme:
    name: material
    #logo: favicon.png
    custom_dir: overrides
    highlightjs: true
    palette:
        primary: black
        scheme: default
    features:
        - navigation.tabs
        - navigation.top
        - content.tabs.link

nav:
    - Introduction: index.md
    - Assembly: assembly.md
    - C: c.md

extra_css:
    - stylesheets/extra.css
# extra:
#     social:
#         - icon: fontawesome/brands/twitter
#           link: https://twitter.com/OrixTwil
#         - icon: fontawesome/brands/youtube
#           link: https://www.youtube.com/user/jede06600/videos
